tensorflow==2.15.0
keras==2.15.0
streamlit==1.35.0
opencv-python-headless==4.9.0.80
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
Pillow==10.3.0
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
grad-cam==1.4.8
scipy==1.13.0
tf-keras-vis==0.8.7
pydot==2.0.0
graphviz==0.20.3